# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/

# Logs and environment files
*.log
.env

# Python bytecode
*.pyc

# Miscellaneous OS files
.DS_Store

# VS Code settings
.vscode/

# Password file
api_passwords